a:link {
    color: brown;
}

a:visited {
    color: grey;
}

.padding {
    margin: 1em;
    max-width: fit-content;
    width: 60vw;
}

h2,h3{
    padding-top: 0.5em;
    font-size: x-large;
}

h3 > a {
    margin-left: 1em;
}

h1{
    font-size: xx-large;
}

img.banner{
    width: 100vw;
}